.choice {
  box-shadow: 0 4px 8px 0 #081a3b;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.choice button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;

  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color:#081a3b;
}

.choice button:hover {
  
  background: #081a3b;
}

.flex-choice {
  display: flex;
  flex-direction: row;

  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 4%;
  margin-top: 8%;
}

.flex-choice .choice img {
  width: 200px;
  height: 160px;
}
.h1 {
  font-size: 20px;
  color: white;
  margin: 1%;
  font-weight: 600;
}
.h3 {
  background-color: #1b1919;
  border: none;
  color: white;
  padding: 20px;

  text-align: center;
  font-weight: 600;
  bottom: 0;
}
.h3 a {
  color: #1b1919;
}
.h3 a:hover {
  color: #1b1919;
}

@media screen and (min-width: 500px) and (max-width: 690px) {
  .flex-choice .choice img {
    width: 150px;
    height: 100px;
  }
  .h3 {
    font-weight: 600;
    bottom: 0;
    position: absolute;
  }
}
@media screen and (min-width: 691px) and (max-width: 770px) {
  .flex-choice .choice img {
    width: 300px;
    height: 200px;
  }
  .h3 {
    font-weight: 600;
    bottom: 0;
  }
}

@media screen and (max-width: 380px) {
  .flex-choice .choice img {
    width: 200px;
    height: 160px;
  }
  .h1 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }
  .h3 {
    font-weight: 600;
  }
}
